.divMain {
    width: 33%;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    margin-top: 30px;
    gap : 4rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .container {
    padding: 2px 16px;
  }

  .divBody {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  @media(min-width:768px){
    .divBody {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;     
    }
  }

  @media(max-width:768px){
    .divBody{
        justify-content: space-around;
        flex-direction: column;
    }
  }